.container
	.jumbotron
		h1 Squallis Puppeteers
		p Welcome to the homepage of Squallis Puppeteers.  Louisville, KY puppet non-profit
		p If you see something strange, inexplicable and ten feet tall, you are probably watching a Squallis Puppeteer.

	.row
		.col-md-6
			div(ng-include="'/partials/current-shows")
		.col-md-6
			div(ng-include="'/partials/new-shows'")