.container
	.jumbotron
		h1 Squallis Puppeteers
		p Squallis Puppeteers is a collective of local artists and performers dedicated to the handmade and the homespun. We have been performing for and teaching children and adults in Louisville, Kentucky since 1997. In 2003, Squallis Puppeteers Inc. became a nonprofit organization. Squallis Puppeteers help kids and adults imagine what is possible, create new worlds, and uncover the stories we all have to tell.
		p Our Puppets are handmade using everyday materials, demonstrating that art and innovation are always within reach. Squallis is recognized as a positive par of the Louisville community telling stories that challenge us to think while reflecting values of citizenship, empathy and collaboration.
		p If you see something strange, inexplicable and ten feet tall, you are probably watching a Squallis Puppeteer.